.card-header,
.title-restaurant {
    font-size: 1.2rem;
    font-weight: bold;
    color: #a73922;
}
.register-btn {
    background-color: #a73922;
    color: white;
}
.btn-link {
    text-decoration: none;
    color: black;
}
.btn-fr:active {
}
