@import "~bootstrap/scss/bootstrap";
@import "partials/header";
@import "partials/delete-modal";
@import "partials/main";
@import "partials/aside";
@import "partials/product-index";
@import "partials/btn-create";
@import "partials/auth/header";
@import "partials/auth/login";
@import "partials/auth/register";

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f2f0e4;
    font-family: "Lato", sans-serif;
}

.logo {
    font-family: "Lobster", sans-serif;
}
