@import "~bootstrap/scss/bootstrap";
@import "partials/admin/header";
@import "partials/admin/delete-modal";
@import "partials/admin/main";
@import "partials/admin/aside";
@import "partials/admin/product-index";
@import "partials/admin/btn-create";
@import "partials/auth/header-login";
@import "partials/auth/login";
@import "partials/auth/register";
@import "partials/admin/home";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f2f0e4;
  font-family: "Lato", sans-serif;
  height: 100vh;
}

.logo {
  font-family: "Lobster", sans-serif;
}

@media (max-width: 767px) {
  .md-visible {
    display: none;
  }
}

@media (max-width: 1439px) {
  .lg-visible {
    display: none;
  }
}