.product-card {
    transition: transform 0.3s ease;
    .card {
        box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.2);
        border: none;

        .button-trash {
            flex-grow: 1;
        }
    }

    &:hover {
        transform: scale(1.05);
    }
}

.btn-fr {
    position: absolute;
    z-index: 500;
    bottom: 40px;
    right: 50px;
    color: #a73922;
    text-decoration: none;

    &:hover {
        text-decoration: none;
        color: white;
        background-color: #a73922;
        border-radius: 40px;
    }

    .btn-message i {
        font-size: 4rem;
        transition: transform 0.3s ease; // Aggiungi una transizione per l'icona
    }

    .btn-message {
        .message {
            display: none;
            margin-right: 5px;
            font-weight: bold;
        }

        &:hover .message {
            display: block;
        }
    }

    &:hover .btn-message i {
        transform: scale(1.1); // Effetto di zoom sull'icona al passaggio del mouse
    }
}

.wrapper {
    display: inline-flex;
    list-style: none;
}

.wrapper .icon {
    position: absolute;
    z-index: 500;
    bottom: 40px;
    right: 50px;
    background-color: #a73922;
    color: white;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 18px;
    background: #a73922;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #a73922;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.wrapper .icon:hover p,
.wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .new_product:hover {
    background: white;
    color: #a73922;
}
