.restaurant-details {
  width: 50%;
  padding: 0 1rem 1.5rem;
}

.restaurant-image {
  width: 50%;
  padding: 0 1rem 1.5rem;

  img {
    width: 100%;
  }
}

@media screen and (max-width: 991px) {

  .restaurant-details {
    width: 100%;
  }

  .restaurant-image {
    width: 70%;
    margin: 0 auto;
  }

}

@media screen and (max-width: 767px) {
  .restaurant-image {
    width: 100%;
  }
}

@media screen and (max-width: 575px) {
  .restaurant-image {
    width: 100%;
  }
}