main {
  .main-wrapper {
    height: calc(100vh - 60px);

    .main-content {
      width: calc(100% - 100px);
      overflow: auto;
      padding: 15px;
    }
  }
}

@media screen and (max-width: 767px) {
  main {
    .main-wrapper {

      .main-content {
        width: 100%;
        padding: 15px 10px;
      }
    }
  }
}