.card {
  position: relative;
  width: 100%;
  height: 300px;
  padding: 20px;
  padding-bottom: 60px;
  transition: transform 0.3s ease;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.1);
  border: none;
  background-color: white;

  .card-title {
    font-weight: bold;
    text-transform: uppercase;
  }

  .card-price {
    font-size: 0prem;
    font-weight: bold;
    color: #a73922;
  }

  .card-text {
    margin-top: 20px;
    font-style: italic;
  }

  ul {
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 0;
    margin: 0;

    li {
      i {
        font-size: 1.4rem;
      }
    }
  }

  .action-product {
    position: absolute;
    bottom: 20px;
    right: 20px;

    .btn-edit {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      color: #260d09;
    }

    .btn-trash {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      color: white;
      background-color: #260d09;
    }
  }

  &:hover {
    text-decoration: none;
    transform: scale(1.05);
  }
}